body {
    scroll-behavior: visible;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;

}


::-webkit-scrollbar {
    display: none;
}

p,
li,
a {
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.03em;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 0.04em;
    line-height: 1.5em;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
    padding: 0px;
}

/*---------------- Menu ------------------*/

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 170px 1fr 1fr;
    background: url("../assets/waste.jpg");
    background-size: cover;
    background-position: center center;
}

.header__logo {
    grid-column: 1;
    grid-row: 1;
    align-self: flex-start;
    margin: 0px;
    padding: 40px 0px 40px 70px;
}

.logo {
    width: 200px;
}

.header__nav {
    grid-column: 2;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header__nav__list {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 45px 30px 30px 150px;
    margin: 0px;
}

.header__nav__item {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    min-width: 150px;
}

a.header__nav__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(226, 27, 27);
    padding: 20px;
}

a:hover {
    color: black;
}

.header__title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    grid-column: 1/3;
    padding: 60px 40px 40px 60px;
}

.header__title__first {
    flex-direction: column;
    grid-column: 1/2;
    justify-content: start;
    margin: 0px;
}

.header__title__first h3 {
    font-size: 1.8rem;
    font-weight: 200;
    margin: 0px;
    padding: 10px;
}

.header__title__first h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin: 0px;
    padding: 10px;
}

.header__title__second {
    flex-direction: column;
    grid-column: 2/3;
    justify-items: end;
    margin: 0px;
    padding-top: 90px;
    padding-left: 15px;
}

.header__title__second h3 {
    font-size: 1.8rem;
    font-weight: 200;
    margin: 0px;
    padding: 10px;
}

.header__title__second h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0px;
    padding-left: 10px;
}

/*------------------------- About ------------------------------*/

.section__about {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
}

.section__about h1 {
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
    padding-top: 10px;
}

.section__about .p1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.5em;
}

.section__about .p2 {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
    padding: 40px;
    letter-spacing: 0.03em;
    line-height: 1.5em;
}

/*--------------------------- Work ----------------------------*/

.section__work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-direction: column;
    background-color: white;
    background: url("../assets/industrial2.jpg");
    background-size: cover;

}

.section__work__article1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.article__header {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    color: black;
    font-size: 1.6rem;
    font-weight: 200;
    text-align: center;
    margin: 0px;
    padding: 50px 0px 20px 20px;
}

.section__work p.p1 {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: justify;
    padding: 20px 20px 20px 20px;
}

.section__work p.p2 {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: justify;
    padding: 20px;
}

/*--------------------------- Process ---------------------------*/

.section__process h1 {
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
    padding-top: 20px;
}

.section__process p.p1 {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: justify;
    padding: 20px;
}

.section__process p.p2 {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: justify;
    padding: 20px;
    color: rgb(226, 27, 27);
}

/*--------------------------- Financial lab ---------------------*/

.section__financial {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 100px 40px;
}

.section__financial h1 {
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
    padding: 0px;
}

.section__financial p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
    padding: 20px;
    letter-spacing: 0.03em;
    line-height: 1.5em;
}

.section__financial h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

.financial__table1 {
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    justify-content: start;
}

.financial__table1 td {
    padding: 5px 15px 5px 0px;
}

.financial__table2 {
    border-collapse: collapse;
    background-color: whitesmoke;
    border: solid 1px darkgray;
}

.financial__table2 th {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    color: white;
    background-color: rgb(226, 27, 27);
    padding: 6px;
}

.financial__table2 .th2 {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    padding: 6px;
    background-color: darkgray;
}

.financial__table2 .th3 {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    padding: 6px;
    background-color: rgb(247, 224, 22);
}

.financial__table2 td {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    border-bottom: solid 1px darkgray;
    padding: 6px;
    min-width: 60px;
}


/*table.financial__table2 tr:nth-child(even) {
   background-color: lightgray
}*/

.subheader {
    background-color: darkgray;
}

p.footnotes {
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    justify-content: start;
    margin: 0px;
    padding: 15px 15px 0px 0px;
}

p.footnotes__strong {
    font-size: 0.75rem;
    font-weight: 600;
    display: flex;
    justify-content: start;
    margin: 0px;
    padding: 15px 15px 0px 0px;
}


/*--------------------------- Footer ------------------------*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    background-color: rgb(226, 27, 27);
    color: white;
    height: 250px;
    padding: 50px;
}

footer .contacts1 {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    justify-items: start;
    padding-right: 15px;
}

footer .contacts2 {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    justify-items: start;
}

footer h4 {
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0px;
    padding: 10px 10px 30px 0px;
}

.contacts1 h5,
.contacts2 h5 {
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0px;
    padding-bottom: 10px;
}

footer .media {
    display: flex;
    grid-column: 4;
    justify-self: end;
    padding: 10px 100px 10px 10px;
}

.media__icon {
    font-size: 1.4rem;
    padding: 10px;
}

.contact__icon {
    font-size: 1.4rem;
    padding-right: 20px;
    font-weight: 100;
}

.footer__location {
    display: flex;
    grid-column: 1;
    flex-direction: row;
    padding-top: 20px;
    align-items: flex-end;
    margin: 0px;
}

.footer__location a {
    padding-top: 10px;
    margin: 0px;
}

.footer__location h3 {
    display: flex;
    padding-left: 15px;
    font-weight: 400;
    margin: 0px;
    padding-bottom: 2px;
}

/*----------------- Media queries --------------------*/


@media (max-width: 48em) {

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .header__logo {
        padding: 25px 0px 15px 25px;
    }

    .logo {
        width: 150px;
    }

    .header__nav {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-start;
    }

    .header__nav__list {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 40px 15px 15px 40px;
        margin: 0px;
    }

    .header__nav__item {
        min-width: 100px;
        display: flex;
        justify-content: end;
        font-size: 0.9rem;
        font-weight: 400;
    }

    a.header__nav__link {
        padding: 10px;
    }

    .header__title {
        display: flex;
        flex-direction: column;
        padding: 0px 20px 20px 25px;
    }

    .header__title__first {
        display: flex;
        margin: 0px;
        padding: 0px;
        padding: 0px;
    }

    .header__title__first h3 {
        font-size: 1.6rem;
        font-weight: 200;
        margin: 0px;
        padding: 0px;
    }

    .header__title__first h2 {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 0px;
        padding: 0px;
    }

    .header__title__second {
        display: flex;
        margin: 0px;
        padding: 20px 0px 20px 0px;
    }

    .header__title__second h3 {
        font-size: 1.6rem;
        font-weight: 200;
        margin: 0px;
        padding: 0px;
    }

    .header__title__second h1 {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 0px;
        padding: 0px;
    }

    .section__work {
        display: flex;
        grid-template-columns: 1fr;
    }

    .section__about {
        padding: 20px;
    }

    .section__about .p1 {
        font-size: 1.2rem;
    }

    .section__about .p2 {
        font-size: 1rem;
    }

    .section__financial {
        display: flex;
        flex-direction: column;
        padding: 10px 0px 30px 0px;
    }

    .section__financial p {
        font-size: 1rem;
    }

    .financial__table2 th,
    .financial__table2 .th2,
    .financial__table2 .th3,
    .financial__table2 td {
        font-size: 0.8rem;
    }

    p.footnotes,
    p.footnotes__strong {
        font-size: 0.75rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    footer .contacts1 {
        display: flex;
        flex-direction: column;
        justify-items: start;
        padding-bottom: 15px;
    }

    footer .contacts2 {
        display: flex;
        flex-direction: column;
        justify-items: start;
    }

    footer h4 {
        font-size: 1.2rem;
        font-weight: 100;
        margin: 0px;
        padding: 10px 10px 15px 0px;
    }

    .contacts1 h5,
    .contacts2 h5 {
        font-size: 0.8rem;
        font-weight: 100;
        margin: 0px;
        padding-bottom: 10px;
    }
    footer .media {
        justify-self: flex-start;
        padding: 50px 10px 10px 0px;
    }
}